[build]
  command = "bun run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[images]
  remote_images = ["https://i.ibb.co/.*", "https://api.dicebear.com/.*", "https://yastatic.net/.*"]
